		<!--            MODALES DE LOS SERVICIOS               -->
					<div id="servicio-modal" class="modal fade bs-service-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myServiceModalLabel">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<%= image_tag 'ocelot-favicon.png',:class => "favicon", :style => "width: 30px;" %>
									<img class="favicon" src="img/ocelot-favicon.png" style="width: 30px;">
									<span class="modal-title" id="gridSystemModalLabel" style="font-size: 20px;"> <strong>Servicios /</strong></span><span class="modal-title ms_tservicio"> limpieza</span>
								</div>
								<div class="modal-body">

						           <div class="main main-raised main-product">
						                <div class="row">
						                    <div class="col-md-6 col-sm-6" >
						                    	
						                    	<div class="ms_img_servicio" style=" background-size: cover; position: center; min-height: 400px; margin-top: 10px; border-radius: 20px;">
						                    		
						                    	</div>
												<!--a href="#product-page1" role="tab" data-toggle="tab" aria-expanded="false">
													<img src="img/hero5.jpg"/>
												</a-->
						                       
						                        
						                    </div>
						                    <div class="col-md-6 col-sm-6">
												<h2 id="" class="title ms_titulo"><strong>Limpieza de instalaciones</strong> </h2>
												<h3 class="main-price ">BsF.<span class="ms_costo">500</span> <!--span class="label label-warning">Promoción</span> <span class="label label-danger">-35%</span--></h3>
												<br>
												<div id="acordeon">
						                            <div class="panel-group" id="accordion">
						                          <div class="panel panel-border panel-default">
						                            <div class="panel-heading bg-primary" role="tab" id="headingOne">
						                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						                                    <h4 class="panel-title text-white">
						                                    <strong>Descripción</strong> 
						                                    <span class="caret"></span>
						                                    </h4>
						                                </a>
						                            </div>
						                            <div id="collapseOne" class="panel-collapse collapse in">
						                              <div class="panel-body">
						                                <p class="ms_descripcion">Eres' daring 'Grigri Fortune' swimsuit has the fit and coverage of a bikini in a one-piece silhouette. This fuchsia style is crafted from the label's sculpting peau douce fabric and has flattering cutouts through the torso and back. Wear yours with mirrored sunglasses on vacation.</p>
						                              </div>
						                            </div>
						                          </div>
						                         
						                          <div class="panel panel-border panel-default">
						                            <div class="panel-heading bg-primary" role="tab" id="headingOne">
						                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-controls="collapseOne">
						                                    <h4 class="panel-title text-white">
						                                    <strong>Detalles del servicio</strong>
						                                    <span class="caret"></span>
						                                    </h4>
						                                </a>
						                            </div>
						                            <div id="collapseThree" class="panel-collapse"><!--collapse para mantener colapsado-->
						                              <div class="panel-body">
						                                <ul>
						                                	 <li><strong>Código Servicio:</strong> <span class="ms_codigo"></span></li>
						                                     <li><strong>Tipo de servicio:</strong> <span class="ms_tservicio"></span></li>
						                                     <li><strong>Precio BsF:</strong><span class="ms_costo"></span></li>
						                                     <!--li><strong>Promoción:</strong> <span class="ms_promocion">35%</span></li-->
						                                     
						                                </ul>
						                              </div>
						                            </div>
						                          </div>

						                        </div>
						                        </div><!--  end acordeon -->

									            
						                        <div class="row text-right">
						                           <%= link_to 'Ingresar', login_path , :method=> :get, :class => "btn btn-primary btn-filled"%>
											       <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
						                        </div>
						                    </div>
						                </div>
						            </div>

							     </div> <!--END MODAL BODY-->
							      <div class="modal-footer">
							         <a href="contact.html"><strong>Contáctanos</strong></a> Si tienes alguna duda sobre este servicio. 
							      </div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->									

		<!--            /MODALES DE LOS SERVICIOS               -->