<!--individual post-->
	<div class="col-sm-6 col-md-4 blog-masonry-item limpieza">
		<div class="thumbnail item-inner quote-post round-post">
			 <a href="" data-toggle="modal" data-target=".bs-service-modal-lg">
				<%= image_tag 'blog-masonry-1.jpg', :style => "border-radius: 20px 20px 0px 0px;" %>
			 </a>
			<div class="caption round-title">
			    <a href="" data-toggle="modal" data-target=".bs-service-modal-lg"><h2 class=""><strong>limpieza de instalaciones</strong></h2></a>
		    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
			    <hr class="spacer-price">
			    <div class="row">
				    <strong class="price-card pull-left">$250</strong>
				    <a href="blog-single.html" class="btn btn-sm btn-primary pull-right" type="button" data-toggle="modal" data-target=".bs-service-modal-lg">Ver</a>
		        </div>
			<!--a href="#" class="btn btn-primary" role="button">Button</a-->
			 </div>
		 </div>
	 </div>									

<!--end of individual post-->