<% content_for :title, 'Contacto | Ocelot' %>
<div class="main-container">
			<section class="map">
				<div class="map-holder">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25198.35985697838!2d144.979258257672!3d-37.86508725777717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad6686626d1c9bf%3A0x24b207169447a3a5!2sClyde+St%2C+St+Kilda+VIC+3182!5e0!3m2!1sen!2sau!4v1405983906843"></iframe>
				</div>
			</section>
			
			<section class="contact-thirds">
				<div class="container">
					<div class="row">
							<div class="col-sm-12 text-center">
								<h1>Contáctanos<br>
								Esperamos por tu comentario
								</h1>
							</div>
					</div><!--end of row-->
					
					<div class="row">
						<div class="col-sm-4">
							<h5>Comuniquese</h5>
							<p>
								Por favor si desea, puede dirigirse  a nosotros, enviandonos un correo electrónico y responderemos a su requerimiento inmediatamente nos sea posible.
							</p>
						</div>
						
						<div class="col-sm-4 text-center">
							<h5>Detalles</h5>
							<p class="lead">
								+ 61 5736 4928<br>
								info@ocelot.com<br>
								<br>
								Universidad Centroccidental "Lisandro Alvarado"<br>
								Barquisimeto / Lara<br>
								Venezuela
							</p>
						</div>
						
						<div class="col-sm-4">
							<h5>Escribe tu mensaje</h5>
							<div class="form-wrapper clearfix">
								<form class="form-contact email-form">
									<div class="inputs-wrapper">
										<input class="form-name validate-required" type="text" placeholder="Nombre" name="name">
										<input class="form-email validate-required validate-email" type="text" placeholder="Correo electrónico" name="email">
										<textarea class="form-message validate-required" name="message" placeholder="Mensaje"></textarea>
									</div>
									<input type="submit" class="send-form" value="Enviar">
									<div class="form-success">
										<span class="text-white">Mensaje enviado - Gracias por comunicarte con nosotros.</span>
									</div>
									<div class="form-error">
										<span class="text-white">Por favor completa todos los campos</span>
									</div>
								</form>
							</div>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>
		</div>