<% content_for :title, 'Nosotros | Ocelot' %>
<div class="main-container">
			<header class="page-header" >
				<div class="background-image-holder .bg-overlay parallax-background">
					<%= image_tag 'side7.jpg', :class => "background-image" %>
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<span class="text-white alt-font">Conoce acerca de</span>
							<h1 class="text-white">Nosotros</h1>
							<p class="text-white lead">Aprende por qué somos los mejores en lo que hacemos<br>y por qué somos considerados como uno de los mejores<br>en la industria creativa de hoy</p>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</header>

			<section class="pure-text-centered">
				<div class="container">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
							<i class="icon icon-jumbo icon_genius" style="font-size:120px;"></i>
							<h1><strong>Quienes Somos</strong></h1>
							<p class="lead">
								Nuestra Organización presta los más diversos servicios, pasando a ser pionera en la implementación de novedosos sistemas, garantizando la mejor planificación para el suministro de personal calificado, representando una alternativa altamente competitiva para el sector empresarial.
							</p>
						</div>
					</div><!--end of row-->
		
				</div><!--end of container-->
			</section>

			<!--section class="pure-text-centered"-->
				<div class="container">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
							<i class="icon icon-jumbo icon_shield" style="font-size:120px;"></i>
							<h1><strong>Misión</strong></h1>
							<p class="lead">
								 Brindar soporte en diversas gestiones a empresas dedicadas a la reparación y mantenimiento de bienes inmuebles, garantizando la mejor planificación, control y seguimiento de servicios para las organizaciones del sector y sus clientes.
							</p>
							</p>
						</div>
					</div><!--end of row-->
		
				</div><!--end of container-->
			<!--/section-->

			<section class="pure-text-centered">
				<div class="container">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
							<i class="icon icon-jumbo icon_target" style="font-size:120px;"></i>
							<h1><strong>Visión</strong></h1>
							<p class="lead">
								Ser el sistema líder en el área de limpieza y reparación de bienes inmuebles, caracterizándose por su calidad, confiabilidad y seguridad en los procesos vinculados al área.
							</p>
						</div>
					</div><!--end of row-->
		
				</div><!--end of container-->
			</section>
